body {
     font-family:Verdana, sans-serif
}

#main_title {
     font-family: 'Monoton', cursive;
     text-align: center;
}

#search {
     text-align:center;
}

#search_box {
     size:100;
     font-size: 1.5em;
}

#favoritesLink, #credits {
     text-align: center;
}

img {
     float:left;
     margin-right:10px;
     margin-bottom:25px;
     width:250px;
}


#search_results {
     margin-top: 50px;
}

table, p, #related_results {
     font-size: .8em;
}

th, td {
     text-align:left;
     vertical-align: top;
     padding:5px;
}

.blue {
     background-color: #F6FBFF;
}

.plot {
     background-color: #ECECEC;
     border-top:solid white 20px;
     padding:20px;
}

#related_results_link {
     display:none;
}

#related_results {
     clear:left;
     display: none;
}


p#credits {
     clear:left;
     font-size: .7em;
}